.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -15vh;
  
    @include respond(tab-port) { 
      padding: 25rem 5rem;
    }
  }
  
  .section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8)),
      url(../imgs/hero.jpg);
    background-size: cover;   /* try to fit the element into the viewport */
    background-position: center;
    transform: skewY(-6deg);
    margin-top: -11rem;
  
    & > * {  // Select all the direct children
      transform: skewY(6deg);
    }
  
    @include respond(tab-port) {
      padding: 8rem 0;
    }
  
  }
  
  .section-tours {
    background-color: $color-grey-light-1;
    padding: 25rem 0 5rem 0;
    margin-top: -10rem;
    margin-bottom: 0;
  
    @include respond(tab-port) {
      padding: 17rem 0;
      margin-top: -7rem;
    }
  }
  
  .section-stories {
    padding: 10rem 0;
    background-color: $color-grey-light-1;
  
    @include respond(tab-port) {
      padding: 5rem 0;
    }
  }
  
  .section-book {
    padding: 10rem 0;
    background-image: linear-gradient(to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-secondary, 0.8));
  }
  
  .book {
    background-image: linear-gradient(105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      transparent 50%),
      url(../imgs/from_background.jpg);
    background-size: cover; //100%
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  
    @include respond(tab-land) {
      background-image: linear-gradient(105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 70%,
      transparent 70%),
      url(../imgs/from_background.jpg);
    }
  
    @include respond(tab-port) {
      background-image: linear-gradient(105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 100%),
      url(../imgs/from_background.jpg);
    }
  
    &__form {
      width: 50%;
      padding: 5rem;
  
      @include respond(tab-land) {
        width: 70%;
      }
  
      @include respond(tab-port) {
        width: 100%;
      }
    }
  }