.btn {
  
    &,
    &:link,
    &:visited {
      font-size: $default-font-size;
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 10rem;
      transition: all .2s;
      animation: moveInUp 1s linear;
      position: relative;
  
      //change for button element
      border: none;
      cursor: pointer;
    }
    
      &:hover{
        transform: translateY(-0.4rem);
        box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
      }
      
      &:active{
        transform: translateY(-0.1rem);
        box-shadow: 0 1rem .5rem rgba(0,0,0,0.2);
      }
      
      &-white{
        background-color: #fff;
        color: $color-grey-dark;
      }
    
      &-blue{
        background-color: $color-secondary;
        color: $color-white;
      }
    
      &-green{
        background-color: $color-green;
        color: $color-white;
      }
  
  }
  
  
  
  
  
  /*
  
  .btn::after{
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all .3s linear;
  }
  
  .btn-white::after{
    background-color: #fff;
  }
  
  .btn:hover::after{
    transform: scale(1.2);
  }
  
  */
  
  .btn-text{
  
    &:link,
    &:visited{
      font-size: $default-font-size;
      color: $color-secondary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color-secondary;
      padding: 3px;
      transition: all .3s;
    }
  
    &:hover{
      background-color: $color-secondary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, .15);
      transform: translateY(-2px);
    }
  
    &:active{
      box-shadow: 0rem .5rem 1rem rgba($color-black, .05);
      transform: translateY(0);
    }
  
  }