*,
*::before,
*::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;  
  /* 10px because default in browser is 16px */
  /* 1rem = 10px */

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%;         // 1rem = 9px => 9/16 = .5625*100% => 56.25%
  }
  
  @include respond(tab-port) { // width < 900?
    font-size: 40%;          // 1rem = 6.4px => 6.4/16 = .375*100% => 40%
  }
  
  @include respond(phone) {    // width < 600?
    font-size: 35%;            // 1rem = 5.6px => 4.8/16 = .35*100% => 30%
  }

  @include respond(big-desktop) { // width > 1800?
    font-size: 70%;            // 1rem = 12px => 12/16 = .75*100% => 75%
  }

}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7; /* 1.7 times bigger than the pre-defined lineHeight */
  color: #777;
  padding: 3rem;

  @include respond(tab-port) { // width < 900?
    font-size: 40%;          // 1rem = 6.4px => 6.4/16 = .375*100% => 40%
    padding: 0;
  }
}