//COLORS
$color-primary: #ffd89b;
$color-secondary: #19547b;
$color-tertiary: #8F988B;
$color-green: #09b412;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: rgb(189, 189, 189);

$color-grey-dark: #777;
$color-grey-dark-1: #333;
$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 7rem;
$gutter-horizontal: 6rem;

//CARD 1
$color-card1-primary: #3a1c71;
$color-card1-secondary: #d76d77 ;
$color-card1-tertiary: #ffaf7b;

//CARD 2
$color-card2-primary: #42275a;
$color-card2-secondary: #734b6d;

//CARD 3
$color-card3-primary: #ddd6f3;
$color-card3-secondary: #faaca8;